.advantage{
    @extend %section;
    padding-bottom: 0;
}

.advantage__box{
    @extend %container;
}

.advantage__title{
    @extend %title;
    @extend %visually-hidden;
}

.advantage__list{
    @extend %list;
    @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
    }
}