.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--dark-background-color);
}

.footer__box{
    @extend %container;
    @media screen and (min-width: 1200px) {
        display: flex;
            align-items: baseline;
            gap: 94px;
    }

    text-align: center;
}

.footer__tablet-box{
    
    @media screen and (min-width: 768px) {
            display: flex;
            align-items: baseline;
            justify-content: center;
            gap: 165px;
            margin-bottom: 60px;
        }
    @media screen and (min-width: 768px) {
        gap: 95px;
    }
}


