.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--dark-background-color);
}

.footer__box{
    @extend %container;
    @media screen and (min-width: 1200px) {
        display: flex;
            align-items: baseline;
            gap: 94px;
        
    }

    text-align: center;
}

@media screen and (min-width: 768) and (max-width:1199px){
.footer__tablet-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
}