.header{
    border-bottom-color: var(--border-color);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.header__box{
    @extend %container;
    @include flex-center(space-between);
}