.navigation{
    display: flex;
    align-items: center;
}

.navigation__list{
    @extend %list;
    display: flex;
    margin-left: 93px;
}

.navigation__link{
    @extend %link;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    
    color: var(--secondary-font-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    fill: currentColor;
    
    transition: color var(--time-duration) var(--time-function);

    &:hover, &:focus{
        color: var(--accent-font-color);
    }

    &--active {
        position: relative;
    
        color: var(--accent-font-color);
    }
    
    &--active::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
    
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-font-color);
    
    }
}

.navigation__item{
    &:not(:last-child) {
        margin-right: 50px;
    }
}

