.socials{
    @extend %list;
    display: flex;
    gap: 10px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 30px;

    &--no-padding{
        padding: 0;
    }
}

.socials__item{
    width: 44px;
    height: 44px;
}
.socials__link{
    @extend %link;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    fill: var(--icon-color);
    background-color: var(--alternative-accent-color);

    transition: background-color var(--time-duration) var(--time-function),
        fill var(--time-duration) var(--time-function);
        &:hover,
        &:focus {
            background-color: var(--accent-font-color);
            fill: var(--alternative-accent-color);
        }
        &--alt{
            background-color: rgba(255, 255, 255, 0.1);
            fill: var(--alternative-accent-color);
        }
}

.socials__icon {
    width: 20px;
    height: 20px;
}

